# OS
.DS_Store

# IDE
.idea
.fleet
.vscode

# Env
.env
.env.*
!.env.example

# Docker
docker-compose.yml
remote_docker_compose.yml
online-store-backend/Dockerfile
online-store-backend/docker-entrypoint.sh
online-store-front-admin/Dockerfile
online-store-front-client/Dockerfile

deploy.sh
